:root {
/* Base size calculations */
--vh: 1vh;  /* 1% of viewport height */
--app-width: 100vw;
--app-height: 100vh;
--base-unit: calc(var(--app-width) / 375); /* Assuming 390px is your design width */

}

/* global-styles.css or font-style.css */
body {
    font-family: 'Rammetto One', cursive;
    font-size: calc(var(--base-unit) * 12);
    font-weight: 400;
    line-height: calc(var(--base-unit) * 18);
    letter-spacing: 0.14em;
    color: #FFFFFF;
    paint-order: stroke fill;
    -webkit-text-stroke: calc(var(--base-unit) * 2) #090909;
    text-shadow: 0 calc(var(--base-unit) * 1) calc(var(--base-unit) * 2) rgba(0, 0, 0, 0.75);
}

/* global-styles.css or font-style.css */
.title {
    font-family: 'Rammetto One', cursive;
    font-size: calc(var(--base-unit) * 14);
    font-weight: 400;
    line-height: calc(var(--base-unit) * 20);
    letter-spacing: 0.14em;
    color: #FFFFFF;
    paint-order: stroke fill;
    -webkit-text-stroke: calc(var(--base-unit) * 2) #090909;
    text-shadow: 0 calc(var(--base-unit) * 1) calc(var(--base-unit) * 2) rgba(0, 0, 0, 0.75);
}

/* Add a universal selector to inherit text styles */
* {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    paint-order: inherit;
    -webkit-text-stroke: inherit;
    text-shadow: inherit;
}